---
Checks: '*,
-llvmlibc-restrict-system-libc-headers,
-llvmlibc-implementation-in-namespace,
-llvmlibc-callee-namespace,
-llvm-header-guard,
-modernize-use-trailing-return-type,
-fuchsia-default-arguments-calls,
'
WarningsAsErrors: '*'
HeaderFilterRegex: '*.hpp'
AnalyzeTemporaryDtors: false
FormatStyle:     none
...
